{{#bs-button-group value=lang type="radio"}}
  {{#bs-button value='en'}}English{{/bs-button}}
  {{#bs-button value='nl'}}Dutch{{/bs-button}}
{{/bs-button-group}}

<br><br>

{{input value=airportTerm placeholder="search criteria"}}
{{#bs-button action=(action 'search')}}Search Airports{{/bs-button}}

<br><br>

{{#data-table data=paginatedData selectionMode='none' classNames=tableClassNames as |t|}}
  {{t.column propertyName='name' name='Name'}}
  {{t.column propertyName='code' name='Code'}}
{{/data-table}}
{{pager-component next=(action 'next') previous=(action 'previous') currentPage=currentPage}}

<br><br>

