<h2 id="title" style="text-align: center;">Welcome to KLM Ember Pages</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul style="border: outset">
                <li>{{#link-to "findFare"}}Find Fare{{/link-to}}</li>
                <li>{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
                <li>{{#link-to "airport-search"}}Search Airports{{/link-to}}</li>
            </ul>
        </div>
        <div class="col-md-9">
          {{outlet}}
        </div>
    </div>
</div>