<span>Total number of requests processed: {{model.klm-metric-okRequestCounter}}</span><br>
<span>Total number of requests resulted in an OK response: {{model.klm-metric-okRequestCounter}}</span><br>
<span>Total number of requests resulted in a 4xx response: {{model.klm-metric-http4xxRequestCounter}}</span><br>
<span>Total number of requests resulted in a 5xx response: {{model.klm-metric-http5xxRequestCounter}}</span><br>
<span>Average response time of all requests: {{model.klm-metric-responseTimer_snapshot_mean}}</span><br>
<span>Min response time of all requests: {{model.klm-metric-responseTimer_snapshot_min}}</span><br>
<span>Max response time of all requests: {{model.klm-metric-responseTimer_snapshot_max}}</span><br>