<div class="row">
    <div class="form-inline">
      {{#bs-button-group value=lang type="radio"}}
        {{#bs-button value='en'}}English{{/bs-button}}
        {{#bs-button value='nl'}}Dutch{{/bs-button}}
      {{/bs-button-group}}
    </div>
</div>
<div class="row">
    <div class="form-inline">
      <div class="form-group">
          <label>Origin</label>
          {{autocomplete-input type="text" class="form-control" placeholder="Origin" valueChanged="originChanged" lang=lang}}
      </div>
      <div class="form-group">
          <label>Destination</label>
         {{autocomplete-input type="text" class="form-control" placeholder="Destination" valueChanged="destinationChanged" lang=lang}}
      </div>
      {{#bs-button type="primary" action="findFare"}}Find Fare{{/bs-button}}
    </div>
</div>
<div class="row">
    <div class="form-inline">
        {{#if model.fare.data.loading}}
            Loading...
        {{else}}
          <strong>{{model.fare.data.amount}} {{model.fare.data.currency}}</strong>
        {{/if}}
    </div>
</div>
